{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Scheduler</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Task_id</th>
                            <th scope="col">Tracking id</th>
                            <th scope="col">State</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <th class="col-md-6">{{ task.task_id }}</th>
                            <th class="col-md-6">{{ task.tracking_id }}</th>
                            <th class="col-md-6">{{ task.state_name }}</th>
                            <th class="col-md-6">
                                <button id="edit_task" onclick=window.location.replace("{{ '/tasks/%d' % task.task_id }}") >
                                Edit
                                </button>
                            </th>
                            <th class="col-md-6">
                                <button id="remove_task" onclick=window.location.replace("{{ '/remove_tasks/%s/%d' % (task.state_name, task.task_id) }}") >
                                    X
                                </button>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 text-center">
                {% block edit_task %}{%endblock%}
            </div>
        </div>
        <span>
            <form method="post" action="/tasks">
                <button type="submit" id="add_new_task">Add new task</button>
            </form>
        </span>
        <span>
            <button id="remove_tasks">Remove all tasks</button>
        </span>
    </div>
    <script>
        document.getElementById("remove_tasks").onclick = () => {
            window.location.replace("/clear_tasks");
        };
    </script>
{% endblock %}