{% extends 'display_tasks.html' %}

{% block edit_task %}

<form id="edit_task" method="post">
    <label for="tracking_id">tracking_id</label>
    <input name="tracking_id" id="tracking_id" value="{{ current_task.tracking_id}}" required
            {% if current_task.state_name == 'DONE' or current_task.state_name == 'CANCELED'
                or current_task.state_name == 'DELETED' %} readonly {% endif %} >
    <br>

    <label for="url">url</label>
    <input name="url" id="url" value="{{ current_task.url }}" required
           {% if current_task.state_name == 'DONE' or current_task.state_name == 'CANCELED'
                or current_task.state_name == 'DELETED'%} readonly {% endif %}>
    <br>

    <label for="time">time</label>
    <input name="time" id="time" value="{{ current_task.generating_time }}" required
           {% if current_task.state_name == 'DONE' or current_task.state_name == 'CANCELED'
                or current_task.state_name == 'DELETED'%} readonly {% endif %}>
    <br>

    <label for="visits">visits</label>
    <input name="visits" id="visits" value="{{ current_task.visits }}" required
           {% if current_task.state_name == 'DONE' or current_task.state_name == 'CANCELED'
                or current_task.state_name == 'DELETED' %} readonly {% endif %}>
    <br>

    <label for="date">date</label>
    <input type="datetime-local" name="date" id="date"
           value="{{ current_task.start_time }}"
           required
           {% if current_task.state_name == 'DONE' or current_task.state_name == 'CANCELED'
            or current_task.state_name == 'DELETED' %} readonly {% endif %}>
    <br>

    {% if not (current_task.state_name == 'DONE' or current_task.state_name == 'CANCELED'
            or current_task.state_name == 'DELETED') %}
        <input id="submit_task" type="submit" value="Save">
    {% endif %}
</form>

{% endblock %}